/*отдельный стиль понадобился поскольку стиль eval__text переиспользовался в других местах и его изменения могут повлечь проблемы с вёрсткой*/

.eval__texts-item {
    margin: 0;
    font-size: 20px;
    max-width: 750px;
    line-height: 150%;
}