.chosen-tab__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  background: #35a2b7;
  color: white;
  border: none;
  border-radius: 10px;
  min-width: 745px;
  min-height: 60px;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.chosen-tab__button:hover {
  background: #287989;
}
