    .bt-radars--1 {
    background-image: url('../../public/images/map-popup/radars/1.svg');
    }
    
    .bt-radars--2 {
    background-image: url('../../public/images/map-popup/radars/2.svg');
    }
    
    .bt-radars--3 {
    background-image: url('../../public/images/map-popup/radars/3.svg');
    }
    
    .bt-radars--4 {
    background-image: url('../../public/images/map-popup/radars/4.svg');
    }
    
    .bt-radars--5 {
    background-image: url('../../public/images/map-popup/radars/5.svg');
    }
    
    .bt-radars--6 {
    background-image: url('../../public/images/map-popup/radars/6.svg');
    }
    
    .bt-radars--7 {
    background-image: url('../../public/images/map-popup/radars/7.svg');
    }
    
    .bt-radars--8 {
    background-image: url('../../public/images/map-popup/radars/8.svg');
    }
    
    .bt-radars--9 {
    background-image: url('../../public/images/map-popup/radars/9.svg');
    }
    
    .bt-radars--10 {
    background-image: url('../../public/images/map-popup/radars/10.svg');
    }
    
    .bt-radars--11 {
    background-image: url('../../public/images/map-popup/radars/11.svg');
    }
    
    .bt-radars--12 {
    background-image: url('../../public/images/map-popup/radars/12.svg');
    }
    
    .bt-radars--13 {
    background-image: url('../../public/images/map-popup/radars/13.svg');
    }
    
    .bt-radars--14 {
    background-image: url('../../public/images/map-popup/radars/14.svg');
    }
    
    .bt-radars--15 {
    background-image: url('../../public/images/map-popup/radars/15.svg');
    }
    
    .bt-radars--16 {
    background-image: url('../../public/images/map-popup/radars/16.svg');
    }
    
    .bt-radars--17 {
    background-image: url('../../public/images/map-popup/radars/17.svg');
    }
    
    .bt-radars--18 {
    background-image: url('../../public/images/map-popup/radars/18.svg');
    }
    
    .bt-radars--19 {
    background-image: url('../../public/images/map-popup/radars/19.svg');
    }
    
    .bt-radars--20 {
    background-image: url('../../public/images/map-popup/radars/20.svg');
    }
    
    .bt-radars--21 {
    background-image: url('../../public/images/map-popup/radars/21.svg');
    }
    
    .bt-radars--22 {
    background-image: url('../../public/images/map-popup/radars/22.svg');
    }
    
    .bt-radars--23 {
    background-image: url('../../public/images/map-popup/radars/23.svg');
    }
    
    .bt-radars--24 {
    background-image: url('../../public/images/map-popup/radars/24.svg');
    }
    
    .bt-radars--25 {
    background-image: url('../../public/images/map-popup/radars/25.svg');
    }
    
    .bt-radars--26 {
    background-image: url('../../public/images/map-popup/radars/26.svg');
    }
    
    .bt-radars--27 {
    background-image: url('../../public/images/map-popup/radars/27.svg');
    }
    
    .bt-radars--28 {
    background-image: url('../../public/images/map-popup/radars/28.svg');
    }
    
    .bt-radars--29 {
    background-image: url('../../public/images/map-popup/radars/29.svg');
    }
    
    .bt-radars--30 {
    background-image: url('../../public/images/map-popup/radars/30.svg');
    }
    
    .bt-radars--31 {
    background-image: url('../../public/images/map-popup/radars/31.svg');
    }
    
    .bt-radars--32 {
    background-image: url('../../public/images/map-popup/radars/32.svg');
    }
    
    .bt-radars--33 {
    background-image: url('../../public/images/map-popup/radars/33.svg');
    }
    
    .bt-radars--34 {
    background-image: url('../../public/images/map-popup/radars/34.svg');
    }
    
    .bt-radars--35 {
    background-image: url('../../public/images/map-popup/radars/35.svg');
    }
    
    .bt-radars--36 {
    background-image: url('../../public/images/map-popup/radars/36.svg');
    }
    
    .bt-radars--37 {
    background-image: url('../../public/images/map-popup/radars/37.svg');
    }
    
    .bt-radars--38 {
    background-image: url('../../public/images/map-popup/radars/38.svg');
    }
    
    .bt-radars--39 {
    background-image: url('../../public/images/map-popup/radars/39.svg');
    }
    
    .bt-radars--40 {
    background-image: url('../../public/images/map-popup/radars/40.svg');
    }
    
    .bt-radars--41 {
    background-image: url('../../public/images/map-popup/radars/41.svg');
    }
    
    .bt-radars--42 {
    background-image: url('../../public/images/map-popup/radars/42.svg');
    }
    
    .bt-radars--43 {
    background-image: url('../../public/images/map-popup/radars/43.svg');
    }
    
    .bt-radars--44 {
    background-image: url('../../public/images/map-popup/radars/44.svg');
    }
    
    .bt-radars--45 {
    background-image: url('../../public/images/map-popup/radars/45.svg');
    }
    
    .bt-radars--46 {
    background-image: url('../../public/images/map-popup/radars/46.svg');
    }
    
    .bt-radars--47 {
    background-image: url('../../public/images/map-popup/radars/47.svg');
    }
    
    .bt-radars--48 {
    background-image: url('../../public/images/map-popup/radars/48.svg');
    }
    
    .bt-radars--49 {
    background-image: url('../../public/images/map-popup/radars/49.svg');
    }
    
    .bt-radars--50 {
    background-image: url('../../public/images/map-popup/radars/50.svg');
    }
    
    .bt-radars--51 {
    background-image: url('../../public/images/map-popup/radars/51.svg');
    }
    
    .bt-radars--52 {
    background-image: url('../../public/images/map-popup/radars/52.svg');
    }
    
    .bt-radars--53 {
    background-image: url('../../public/images/map-popup/radars/53.svg');
    }
    
    .bt-radars--54 {
    background-image: url('../../public/images/map-popup/radars/54.svg');
    }
    
    .bt-radars--55 {
    background-image: url('../../public/images/map-popup/radars/55.svg');
    }
    
    .bt-radars--56 {
    background-image: url('../../public/images/map-popup/radars/56.svg');
    }
    
    .bt-radars--57 {
    background-image: url('../../public/images/map-popup/radars/57.svg');
    }
    
    .bt-radars--58 {
    background-image: url('../../public/images/map-popup/radars/58.svg');
    }
    
    .bt-radars--59 {
    background-image: url('../../public/images/map-popup/radars/59.svg');
    }
    
    .bt-radars--60 {
    background-image: url('../../public/images/map-popup/radars/60.svg');
    }
    
    .bt-radars--61 {
    background-image: url('../../public/images/map-popup/radars/61.svg');
    }
    
    .bt-radars--62 {
    background-image: url('../../public/images/map-popup/radars/62.svg');
    }
    
    .bt-radars--63 {
    background-image: url('../../public/images/map-popup/radars/63.svg');
    }
    
    .bt-radars--64 {
    background-image: url('../../public/images/map-popup/radars/64.svg');
    }
    
    .bt-radars--65 {
    background-image: url('../../public/images/map-popup/radars/65.svg');
    }
    
    .bt-radars--66 {
    background-image: url('../../public/images/map-popup/radars/66.svg');
    }
    
    .bt-radars--67 {
    background-image: url('../../public/images/map-popup/radars/67.svg');
    }
    
    .bt-radars--68 {
    background-image: url('../../public/images/map-popup/radars/68.svg');
    }
    
    .bt-radars--69 {
    background-image: url('../../public/images/map-popup/radars/69.svg');
    }
    
    .bt-radars--70 {
    background-image: url('../../public/images/map-popup/radars/70.svg');
    }
    
    .bt-radars--71 {
    background-image: url('../../public/images/map-popup/radars/71.svg');
    }
    
    .bt-radars--72 {
    background-image: url('../../public/images/map-popup/radars/72.svg');
    }
    
    .bt-radars--73 {
    background-image: url('../../public/images/map-popup/radars/73.svg');
    }
    
    .bt-radars--74 {
    background-image: url('../../public/images/map-popup/radars/74.svg');
    }
    
    .bt-radars--75 {
    background-image: url('../../public/images/map-popup/radars/75.svg');
    }
    
    .bt-radars--76 {
    background-image: url('../../public/images/map-popup/radars/76.svg');
    }
    
    .bt-radars--77 {
    background-image: url('../../public/images/map-popup/radars/77.svg');
    }
    
    .bt-radars--78 {
    background-image: url('../../public/images/map-popup/radars/78.svg');
    }
    
    .bt-radars--79 {
    background-image: url('../../public/images/map-popup/radars/79.svg');
    }
    
    .bt-radars--80 {
    background-image: url('../../public/images/map-popup/radars/80.svg');
    }
    
    .bt-radars--81 {
    background-image: url('../../public/images/map-popup/radars/81.svg');
    }
    
    .bt-radars--82 {
    background-image: url('../../public/images/map-popup/radars/82.svg');
    }