.team__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 770px) {
    .team__container {
        align-items: flex-start;
    }
}