.calculated__title {
    font-family: "Fugue Mono KB", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #001520;
    margin: 70px 0 60px 0;
    max-width: 1000px;
}