.header__title {
    font-weight: 900;
    color: white;
    font-size: 82px;
    line-height: 98px;
    text-transform: uppercase;
    margin: 162px 0 144px;
    width: 64%;
    max-width: 940px;
    text-align: center;
}